<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="以繁体字转换为根本，致力于繁体字与简体字的转换" />
    <meta name="keywords" content="创新" />
    <meta name="author" content="HeYi">
    <title>基于深度学习的繁体字识别系统-识别</title>
    <!-- 框架 -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')  }}">

        <link rel="stylesheet" href="{{ url_for('static',filename='css/normalize.css')  }}">
    <!-- 样式清理 -->
  <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')  }}">
    <!-- 通用页面样式 -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css')  }}">
 <link rel="stylesheet" href="{{ url_for('static',filename='lib/assets/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/css/FTSB1.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/layui/dist/css/layui.css')  }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/css/loaders.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/css/lanrenzhijia.css')  }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='lib/css/AlipayLiuCheng.css')  }}">
    <!-- HTML5兼容性处理 -->
    <!-- Respond.js响应式设计>

    <![endif]-->
    <!-- Favicons网站图标 -->
    <!-- <link rel="shortcut icon" href="../img/favicon.ico"/> -->
    <!-- <link rel="bookmark" href="../img/favicon.ico" type="image/x-icon"/> -->
		<style>
		.div_inline{ display:inline}
		</style>

  </head>
  <body>

    <!-- header顶部导航 -->
    <header>
      <div class="header-container">
        <div class="nav-box">
          <!-- logo -->
          <div class="nav-left">
            <a id="logo_top" href="#"></a>
          </div>
          <!-- memu选项 -->
          <div class="nav-mid">
			  <div id="lang">
				<input type="hidden" value="{{ UserName }}" id="getUserName">
				<input type="hidden" value="{{ isVip }}" id="get_isVip">
				<div id="typediv1" style="visibility:hidden ;text-align:right" >
					<div class="user" ><font size="2" color="#ffffff" ><span>当前登陆的用户为：{{ UserName }}</span></font></div>
				<!-- <br> -->
				  <!-- <div class="div_inline"> -->
					<button id="btn" class="btn_base" onclick="QiutLogin();">退出登录</button>
					<div style="height: 10px"></div>
					<div id="typediv3" class="div_inline" style="visibility:visible ; text-align:right">
					<button id="btn_charge" class="btn_base" onclick="charge()">成为会员</button>
				  </div>
					<button id="btn_record" class="btn_base" onclick="check_record();" >个人中心</button>
				  <!-- </div> -->
				  
				</div>
				
				<div id="typediv2" style="visibility:visible ; text-align:right"><font size="2" color="#ffffff">您当前还没有登陆，请您登陆</font>
			  </div>

		  </div>
            <ul id ="s" class="navbar-nav">
              <li><a class="" href="/blog/firstPage"><font size="5"   color="#ffffff" style="font-weight: bold" >首页</font></a></li>
              <li><a class="" href="/blog/second-AboutUs"><font size="5" color="#ffffff" style="font-weight: bold" >关于我们</font></a></li>
              <li><a class="active" href="/blog/three-shibie"><font size="5" color="#ffffff" style="font-weight: bold" >识别系统</font></a></li>
              <li><<a class="" href="/blog/logina"><font size="5" color="#ffffff" style="font-weight: bold" >登陆/注册</font></a></li>
            </ul>
          </div>
          <!-- 响应式菜单 -->
          <div class="nav-mobile-menu">
              <span class="sidebar_trigger"></span>
          </div>
        </div>
      </div>
    </header>
     <!--退出登录模块-->
     <form action="/blog/quitLogin"  id= "quitL" method="post">

     </form>
    <!--跳转到查询历史纪录的链接-->
     <form action="/blog/personal"  id= "check_record_form" method="post">

     </form>
	 <!-- 会员登录 -->
	 <form action="/blog/charge" id="charge_form" method="post">
	 
	 </form>
	 <!-- 登录界面 -->
	 <form action="/blog/logina" id="login" method="post">
	 
	 </form>
    <!--首先是进行占位-->
    <div class="zhanWei"></div>


    <!--拿入之前已经写好的网页。-->
    <div id="RecogDispaly" style="visibility: hidden" class="feature1 clearfix">
    <iframe src="/blog/shibie" frameborder="0" width="100%" height="900px" name="ife" id="contentIframe"></iframe>
    </div>
    <!-- footer页面底部 -->
    <footer>
       <div class="footer-box clearfix">
          <div class="footer-left">
              <span class="globle"></span>
          </div>
          <div class="footer-right">
            <div class="footer-laber">
              <ul>
                <li><a href="/blog/three-shibie">识别系统&nbsp;&nbsp;</a></li>
                <li><a href="/blog/second-AboutUs">老师介绍&nbsp;&nbsp;</a></li>
                <li><a href="/blog/students">学生介绍&nbsp;&nbsp;</a></li>
              </ul>
              <ul>
                <li><a href="/blog/DevelopmentProcess">开发历程&nbsp;&nbsp;</a></li>
                <li><a href="/blog/firstPage">关于系统&nbsp;&nbsp;</a></li>
               <li><a href="#">联系我们&nbsp;&nbsp;</a></li>
              </ul>
              <ul>
                <li class="footer-contact">邮箱:&nbsp 508851230@qq.com</li>
                <li class="footer-contact">电话:&nbsp +86 17376514197</li>
              </ul>
            </div>
          </div>
        </div>
    </footer>
    <!-- 版权信息 -->
    <div class="container copy">
      <div class="row">
          <div class="col-md-12 text-center">
              <p class="copyright">©2014-2017 Shanghai HeYi Financial Services Limited. All rights reserved. <a href="http://www.miitbeian.gov.cn">沪ICP备 15008941 号</a> </p>
          </div>
      </div>
    </div>
    <!-- 返回顶部按钮 -->
    <button class="back-to-top" style="display: none;"></button>
    <!-- 框架库加载 -->
	<script src="{{ url_for('static', filename='js/jquery-1.7.2.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script>
         function  check_record()
        {
            document.getElementById('check_record_form').submit();
        }
		function charge(){
            document.getElementById('charge_form').submit();
        }
       function QiutLogin() {
        document.getElementById('quitL').submit();
    }
         function del(n)
{
var s=document.getElementById('s');
var t=s.childNodes.length;
for (var i=0;i<t;i++)
{
if (i==n-1)
{
s.removeChild(s.childNodes[i]);
}
}
}
        function CheckUser() {
    var name =document.getElementById('getUserName').value;
	var isVip = document.getElementById("get_isVip").value;
    if (name == '') {
        document.getElementById("typediv1").style.visibility="hidden";
        document.getElementById("typediv2").style.visibility="visible";
        document.getElementById("RecogDispaly").style.visibility="hidden";

		 $(login).submit();
         alert("请您先登录，再使用系统");
    }
    else
    {
         document.getElementById("typediv1").style.visibility="visible";
        document.getElementById("typediv2").style.visibility="hidden";
        document.getElementById("RecogDispaly").style.visibility="visible";
		del(8);
        if(isVip == 1){
            document.getElementById("typediv3").style.visibility="hidden";
        } else {
            document.getElementById("typediv3").style.visibility="visible";
        }

    }

}
CheckUser();


    </script>

    

  </body>
</html>
